<!-- Information area -->
<div class="container-fluid">

    <div class="row" style="padding:1px">

        <div class="col-md-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted list-items">Account Balance </li>
                <li class="list-group-item text-right list-items-content">
                    <span class="pull-left"><strong>USD</strong></span>$
                    <span class="USDBalance">0.00</span>
                </li>
                <li class="list-group-item text-right list-items-content">
                    <span class="pull-left"><strong>XBT</strong></span>
                    <i class="fa fa-btc"></i> <span class="XBTBalance"> 0.0000000</span>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted list-items">Account Stats</li>
                <li class="list-group-item text-right list-items-content"><span class="pull-left"><strong>Fees</strong></span>$
                    <span class="USDFees">0.00</span>
                </li>
                <li class="list-group-item text-right list-items-content"><span class="pull-left" style ="padding-right:25px;padding-bottom:5px;"><strong>Margin Usage</strong></span>
                    <div class="progress" style = "width:170px;">
                      <!-- <div id = "MarginUsage" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                        <span id="Usage">0.00</span>% free
                      </div>
                    </div> -->

                    <div id = "MarginUsage" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" style="width:50%;font-size:11px;">
                       <span id="Usage">0.00</span>% Free
                     </div>
                     <div id = "MarginUsed" class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" style="width:50%;font-size:11px;">
                       Used
                     </div>
                  </div>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted list-items">Profile</li>
                <li class="list-group-item text-right list-items-content"><span class="pull-left"><strong>KYC</strong></span> <a href="#KYC" style="color:white;font-weight:100">Require Update</a>
                </li>
                <li class="list-group-item text-right list-items-content"><span class="pull-left"><strong>AML</strong></span> <a href="http://alt-options.com/legal.php" style="color:white;font-weight:100">Require Update</a>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted list-items">Profile</li>
                <li class="list-group-item text-right list-items-content"><span class="pull-left"><strong>2FA(2 Factor Auth):</strong></span>
                    <button id="2FA_Enable" class="btn btn-success btn-xs">Enable</button>
                    <button id="2FA_Disable" class="btn btn-danger btn-xs">Disable</button>
                </li>
                <li class="list-group-item text-right list-items-content"><span class="pull-left"><strong>2FA Status:</strong></span><span id="2FA_Status">Disabled</span></li>
            </ul>
        </div>
        <!--/col-3-->


        <div class="col-md-7 settings-tab">
            <div class ="col-md-12">
              <ul class="nav nav-tabs" id="myTab" style="height:43px;">

                  <li class="active"><a href="#settings" data-toggle="tab">Password</a>
                  </li>
                  <!-- <li><a href="#Deposit" data-toggle="tab">Funding</a>
                  </li> -->
                  <li><a href="#home"data-toggle="tab">Trading History</a>
                  </li>
                  <li><a href="#KYC" data-toggle="tab">KYC</a>
                  </li>
              </ul>

              <div class="tab-content">

                  <div class="tab-pane" id="home" style="padding:1px">
                      <table class="table trading table-condensed" style="text-align:center;width:100%">
                          <thead>
                              <tr style="height: 2.7em;">
                                  <td>OrderID</td>
                                  <td>Asset</td>
                                  <td>Type</td>
                                  <td>Price</td>
                                  <td>Size</td>
                                  <td>Total</td>
                                  <td>Status</td>
                                  <td>Execution Time</td>
                                  <td>Execution Details</td>
                              </tr>
                          </thead>

                          <tbody id="POtable4"></tbody>

                      </table>
                  </div>


                  <!--/tab-pane-->
                  <div class="tab-pane active" id="settings">
                    <div id ="password-warpper">
                      <form class="form" action="##" method="post" id="registrationForm" style="font-size:15;">

                          <div class="form-group">
                              <div class="col-xs-5">
                                  <label for="oldPassword">
                                      <h5>Current Password</h5>
                                  </label>
                                  <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="old password" title="Enter your old password">
                              </div>

                              <div class="col-xs-6 col-xs-offset-7">

                              </div>

                          </div>

                          <div class="form-group">

                              <div class="col-xs-5">
                                  <label for="newPassword">
                                      <h5>New Password</h5>
                                  </label>
                                  <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="new password" title="Enter your new password">
                              </div>

                              <div class="col-xs-5">
                                  <label for="confirmPassword">
                                      <h5>Confirm Password</h5>
                                  </label>
                                  <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="new password" title="Please type your new password again">
                              </div>

                          </div>

                          <div class="form-group">
                              <div class="col-xs-4" style="margin:0px 0px 20px -50px">
                                  <br>
                                  <button id="save-click" class="btn btn-md btn-success" type="reset">Update</button>
                                  <button class="btn btn-md btn-default" type="reset">Reset</button>
                              </div>
                          </div>
                      </form>
                    </div>
                  </div>


                  <div class="tab-pane" id="KYC">
                    <div id ="kyc-warpper">
                      <form id="KYC-form" data-parsley-validate onsubmit="return checkKYC();">

                          <div class="form-group col-xs-6">
                              <label for="first_name">
                                  <h5>First name*</h5>
                              </label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="some first name" required>
                          </div>

                          <div class="form-group col-xs-6">

                              <label for="last_name">
                                  <h5>Last name*</h5>
                              </label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="some last name" required>
                          </div>

                          <div class="form-group col-xs-6">
                              <label for="dob">
                                  <h5>Date of Birth*</h5>
                              </label>
                              <input type="date" class="form-control" name="dob" id="dob" placeholder="some birthday" required>
                          </div>

                          <div class="form-group col-xs-6">
                              <label for="mobile">
                                  <h5>Mobile Number*</h5>
                              </label>
                              <input type="number" class="form-control" name="cell" id="cell" placeholder="###-###-####" required>
                          </div>

                          <div class="form-group col-xs-6">
                              <label for="streetadr">
                                  <h5>Street Address</h5>
                              </label>
                              <input type="text" class="form-control" name="addr_street" id="addr_street" placeholder="somewhere">
                          </div>

                          <div class="form-group col-xs-6">
                              <label for="cityadr">
                                  <h5>City</h5>
                              </label>
                              <input type="text" class="form-control" name="addr_city" id="addr_city" placeholder="some city">
                          </div>

                          <div class="form-group col-xs-6">
                              <label for="stateadr">
                                  <h5>State</h5>
                              </label>
                              <input type="text" class="form-control" id="addr_state" placeholder="some state">
                          </div>

                          <div class="form-group col-xs-6">
                              <label for="zipcode">
                                  <h5>Zip Code</h5>
                              </label>
                              <input type="number" class="form-control" id="addr_zip" placeholder="zip code">
                          </div>

                          <div class="form-group">
                              <div class="invalid-form-error-message"></div>
                          </div>

                          <div class="form-group">
                              <div class="col-xs-5" style="margin-bottom:15px;margin-left:-80px">
                                  <br>

                                  <input type="submit" class="btn btn-success validate" value="Update" />
                                  <!-- id="user-pram-click"-->
                                  <input type="reset" class="btn btn-default" />
                              </div>
                          </div>
                      </form>
                    </div>
                  </div>

                  <div class="tab-pane" id="Deposit" style="padding:3px">
                    <div id ="password-warpper">
                      <div class="col-sm-6" style="margin:30px 0 0 15px;font-size:20">
                          <h4>Bitcoin Deposit</h4>
                          <table class="table trading">
                              <thead>
                                  <tr>
                                      <th>Wallet</th>
                                      <th></th>
                                      <th></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>Trading</td>
                                      <td>
                                          <span>AOEXTESTWALLET00000000000000000000001</span>
                                          <br>
                                          <a href="/account/change_address/?w=trading&amp;t=bitcoin" data-remote="true">Change Address</a>
                                      </td>
                                      <td><img style="height:160px" alt="Chart?chs=100x100&amp;chld=m%7c0&amp;cht=qr&amp;chl=bitcoin:3dydiqpxch9spcdftjhzoiutzzd3pwfs8u" src="https://chart.googleapis.com/chart?chs=100x100&amp;chld=M%7C0&amp;cht=qr&amp;chl=bitcoin:AOEXTEST00010101010101010101010101010">
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                <!--/tab-content-->
              </div>
                <div id="execution_modal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white">×</button>
                                <h4 class="modal-title">Execution Report</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table trading table-condensed">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Execution Price</td>
                                            <td>Execution Amount</td>
                                            <td>Total Fees</td>
                                            <td>Execution Time</td>
                                        </tr>
                                    </thead>
                                    <tbody id="excution_report"></tbody>

                                </table>
                            </div>
                            <div class="modal-footer">
                                <a href="#" data-dismiss="modal" class="btn btn-success btn-md">Return</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/col-9-->
            </div>
            <!--/row-->
        </div>
    </div>

</div>


<script src="js/external/parsleyjs.min.js"></script>

<script>
    $(function() {
        //Execute once
        AOapi.Account.getClosedOrders(AOui.Account.updateTotalRecords);
        AOapi.User.getTotalFees(AOui.Settings.updateFees);
        AOapi.User.getUserPram(AOui.Settings.updateUserPram);
        AOapi.User.getUserMargin(AOui.Settings.updateMargin);
        AOapi.User.get2FAStatus(AOui.Settings.update2FAstatus);

        //Execute every 5 seconds
        setInterval(function() {
            AOapi.Account.getClosedOrders(AOui.Account.updateTotalRecords);
            AOapi.User.getUserMargin(AOui.Settings.updateMargin);
        }, 5000);
    });
</script>

<script>
</script>
