body {
    background: url(../img/login/login_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 15px;
    font-family: "Lato" sans-serif;
    font-weight: 100;
}

.main-body {
    margin: auto; 
    text-align: center;
}

.container-fluid {
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    margin: 10px auto;
    display: table;
    min-width: 350px;
}

.container-fluid img {
    height: 2.2em;   
    margin-bottom: 0.2em;
}

.container-fluid input {
    color: #50b949;
    border: none;
    height: 2.2em;
    width: 15em;
    margin-left: -0.2em;
    margin-bottom: 0.2em;
}

.title {
    font-size: 1.3em;  
    font-weight: 500;
}

.btn {
    border-radius: 0px;
}

