<div>
    <div class="row section-head">
        <span style="float:left; padding:8px 0px 0px 20px;font-weight:normal" class="hint--bottom  hint--primary" data-hint="An option to buy assets at an agreed price on or before a particular date. &#10;In AOEX, one option represents ONE bitcoin [mutiplier 1:1].">CALLS <i style = "color:grey;font-size:12px"class="fa fa-question-circle"></i></span>
        <span style="float:right; padding:8px 20px 0px 0px;font-weight:normal" class="hint--bottom  hint--primary" data-hint="An option to sell assets at an agreed price on or before a particular date. &#10;In AOEX, one option represents ONE bitcoin [mutiplier 1:1].">PUTS <i style = "color:grey;font-size:12px" class="fa fa-question-circle"></i></span>
        <h5>Expiry Date

      <div class="btn-group">
        <!-- <button aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" style="font-size:12px" type="button">
          Select
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="expTimes" style="text-shadow: none"></ul> -->

        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown"><!--{{exp[1].slice(0,10)}}-->
        <span class="caret"></span></button>
        <ul class="dropdown-menu exp_dropdown">
          <li ng-repeat = "item in exp"><a ng-click = "updateFn2({date: item})">{{item}}</a></li>
        </ul>
      </div>
    </h5>
    </div>

    <table class="table scroll table-condensed" style="text-align:center;">
        <thead>
            <tr>
                <th>OPEN</th>
                <th>VOL</th>
                <th>LAST</th>
                <th>BID</th>
                <th>ASK</th>
                <th>STRIKE</th>
                <th>BID</th>
                <th>ASK</th>
                <th>LAST</th>
                <th>VOL</th>
                <th>OPEN</th>
            </tr>
        </thead>

        <div class="cssload-thecube" style="margin-top:30%;width:55px;height:55px;" ng-hide="data.calls.length > 0">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>

        <tbody id="EMtableC" style="width:54.55%;float:left;height:427px">
            <tr ng-repeat="call in data.calls track by call.strike | limitTo:15" class="trade" ng-show="data.calls.length > 0">
                <td ng-click="updateFn({ordPrice: call.bid_price,ordAmt: 10, ordProd: call.name})" highlighter="call.ask_depth">{{call.ask_depth}}</td>
                <td ng-click="updateFn({ordPrice: call.bid_price,ordAmt: 10, ordProd: call.name})" highlighter="call.volume">{{call.volume}}</td>
                <td ng-click="updateFn({ordPrice: call.bid_price,ordAmt: 10, ordProd: call.name})" highlighter="call.last_price">{{call.last_price}}</td>
                <td ng-click="updateFn({ordPrice: call.bid_price,ordAmt: 10, ordProd: call.name})" highlighter="call.bid_price">{{call.bid_price}}</td>
                <td ng-click="updateFn({ordPrice: call.bid_price,ordAmt: 10, ordProd: call.name})" highlighter="call.ask_price">{{call.ask_price}}</td>
                <td>{{call.strike}}</td>
            </tr>
        </tbody>
        <tbody id="EMtableP" style="width:45.45%;height:427px">
            <tr ng-repeat="put in data.puts track by put.strike | limitTo:15" class="trade">
                <td ng-click="updateFn({ordPrice: put.bid_price,ordAmt: 10, ordProd: put.name})" highlighter="put.bid_price">{{put.bid_price}}</td>
                <td ng-click="updateFn({ordPrice: put.bid_price,ordAmt: 10, ordProd: put.name})" highlighter="put.ask_price">{{put.ask_price}}</td>
                <td ng-click="updateFn({ordPrice: put.bid_price,ordAmt: 10, ordProd: put.name})" highlighter="put.last_price">{{put.last_price}}</td>
                <td ng-click="updateFn({ordPrice: put.bid_price,ordAmt: 10, ordProd: put.name})" highlighter="put.volume">{{put.volume}}</td>
                <td ng-click="updateFn({ordPrice: put.bid_price,ordAmt: 10, ordProd: put.name})" highlighter="put.ask_depth">{{put.ask_depth}}</td>
            </tr>
        </tbody>
    </table>
</div>
